src/main/resources/countries.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/countries"
           xmlns="http://www.example.com/countries"
           elementFormDefault="qualified">

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SearchTerm" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="subRegion" type="xs:string"/>
                            <xs:element name="year" type="xs:int"/>
                            <xs:element name="value" type="xs:float"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
