src/main/resources/players.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/players"
           xmlns="http://example.com/players"
           elementFormDefault="qualified">

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SearchTerm" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Player" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="team" type="xs:string"/>
                            <xs:element name="season" type="xs:int"/>
                            <xs:element name="points" type="xs:float"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
