src/main/resources/player-validation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://example.com/players" targetNamespace="http://example.com/players" elementFormDefault="qualified">
    <xs:element name="Players">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Player" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="team" type="xs:string"/>
                            <xs:element name="points" type="xs:float"/>
                            <xs:element name="season" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
