ng-relax/src/main/resources/entity-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <rng:start>
        <rng:element name="Countries">

            <rng:zeroOrMore>
                <rng:element name="Country">

                    <rng:element name="name">
                        <rng:text/>
                    </rng:element>
                    <rng:element name="subRegion">
                        <rng:text/>
                    </rng:element>
                    <rng:element name="year">
                        <rng:data type="integer" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
                    </rng:element>
                    <rng:element name="value">
                        <rng:data type="float" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
                    </rng:element>

                </rng:element>
            </rng:zeroOrMore>
        </rng:element>
    </rng:start>
</rng:grammar>