ng-relax/src/main/resources/player-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <rng:start>
        <rng:element name="Players">

            <rng:zeroOrMore>
                <rng:element name="Player">

                    <rng:element name="name">
                        <rng:text/>
                    </rng:element>
                    <rng:element name="team">
                        <rng:text/>
                    </rng:element>
                    <rng:element name="season">
                        <rng:data type="integer" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
                    </rng:element>
                    <rng:element name="points">
                        <rng:data type="float" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
                    </rng:element>

                </rng:element>
            </rng:zeroOrMore>
        </rng:element>
    </rng:start>
</rng:grammar>
